/_build/
/cover/
/deps/
/doc/
/.elixir_ls/
*.ez
.claude
.claude/
dialyzer/
erl_crash.dump
apps/dockd_tui/dockd_tui
.DS_Store
.claude/
*.env
*.env.*
dialyzer/
*.plt
*.plt.*
CLAUDE.md
TODO.md
RULES.md
NOTES.md
